<!DOCTYPE html>
<html>

<head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <a href="/flights">All Flights</a>
    |
    <a href="/flights/new">New Flight</a>